.CreateTodoButton {
    height: 3em;
    margin-bottom: 1em;
    margin-right: 1em;
    background-color: #282c34;
    cursor: pointer;
    border: none;
    color: white;
    padding: 1em;
    align-self: flex-end;
}

.CreateTodoButton:hover {
    background-color: #282c34ba;
    cursor: pointer;
}