form {
    width: 80%;
}

input {
    width: 100%;
    padding: 1em;
    font-size: 1.1em;
    border: none;
    box-shadow: inset -1px -1px 1px 1px rgba(0, 0, 0, 0.3);

}

input:hover {
    border-style: none;
    box-shadow: 1px 1px 1px 1px rgba(25, 135, 182, 0.3);
}

input:focus-visible {
    border: none;
    outline-color: rgb(25, 135, 182);
}